!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
!*.csv
!*.png
!*.jpg
!*.dash
!*.py


!*/


# Ignore these files/folders
secrets.yaml
home-assistant.log
home-assistant.log1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
html5_push_registrations.conf
zigbee.db
zigbee.db-shm
zigbee.db-wal
.storage
